body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: green;
   text-align: center;
   color: white;
   font-weight: bold;

}

h1 {
    color: goldenrod;
    
}

#message-el {
   font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    margin-bottom: 1px;
    
}